
@font-face {
    font-family: "opensans-bold";
    src: url('css/fonts/open-sans/OpenSans-Bold.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "opensans";
    src: url('css/fonts/open-sans/OpenSans-Regular.woff');
        font-weight: normal;
    font-style: normal;
}
p{
    font-family: opensans;
}